<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample</title>
</head>
<body ng-app="App">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="app.js"></script>
  <div ng-controller="MainController">
    <form ng-submit="addTodo()">
      <input type="text" required placeholder="新しい要件を入力" ng-model="newTitle">
      <button type="submit">追加</button>
    </form>
    <div>
      <button>全て完了/未了</button>
      <button ng-click="changeFilter()" ng-class="{active: !currentFilter}">全部 <span>{{ allCount }}</span></button>
      <button ng-click="changeFilter(filter.remaining)" ng-class="{active: currentFilter == filter.remaining}">未了 <span>{{ remainingCount }}</span></button>
      <button ng-click="changeFilter(filter.done)" ng-class="{active: currentFilter == filter.done}">完了 <span>{{ doneCount }}</span></button>
      <button>完了アイテムを全て削除</button>
    </div>
    <ul>
      <li class="todo-item" ng-repeat="todo in todos | filter:currentFilter" ng-class="{done: todo.done}">
        <form>
          <input type="checkbox" ng-model="todo.done">
          <span class="todo-title">{{ todo.title }}</span>
          <button type="reset">削除</button>
        </form>
      </li>
      <li class="todo-item done">
        <form>
          <input type="checkbox" checked>
          <span class="todo-title">完了した ToDo</span>
          <button type="reset">削除</button>
        </form>
      </li>
      <li class="todo-item editing">
        <form>
          <input type="checkbox">
          <input type="text" required value="編集中の ToDo">
        </form>
      </li>
    </ul>
  </div>
</body>
</html>
